customtkinter==5.2.1
Pillow==10.1.0
python-dotenv==1.0.0
pygame==2.5.2
opencv-python==4.8.1.78
numpy==1.26.2
requests==2.31.0
groq
AppOpener
pywhatkit
bs4
rich
keyboard
cohere
googlesearch-python
selenium
mtranslate
edge-tts
PyQt5
webdriver-manager